.domaineDroitSection {
	margin-top: 75px;

	@media (max-width: 730px) {
		.verticalCenter {
			height: 730px;
		}
	}
}

.listCard {
	display: flex;
}
.wrapperIcon {
	display: flex;
	width: 41px;
	height: 38px;
	border-radius: 50%;
	background-color: rgba(48, 16, 80, 0.8);
	padding: 8px;
}
.cardWrapper {
	height: 302px;
	max-height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 14px;
	padding: 14px;
	background-color: rgba(117, 117, 138, 0.1);
	border-radius: 10px;
	width: 319px;
	@media (width < 730px) {
		margin: auto;
	}
}
.headerCard {
	display: flex;
	gap: 12px;
	align-items: center;
}

.descriptionCard {
	padding: 12px;
}
.swiperSlide {
	width: 319px;
}

.linkBtnWrapper {
	display: flex;
	justify-content: center;
}
