.titlePage {
	max-width: 490px;
	width: 100%;

	margin-bottom: 100px;
	font-family: 'Inter', sans-serif;
}

.wrapperHeroContent {
	width: 100%;
	font-family: 'Inter', sans-serif;
}

.phoneLink {
	display: inline-block;

	font-size: 38px;
	font-weight: bold;
	margin-bottom: 16px;

	opacity: 0.7;
}

.btnLink {
	width: 217px;
	margin-bottom: 152px;
}

.wrapperHeroText {
	width: 90%;

	margin: auto;
}

.heroImgLight,
.heroImgDark {
	position: absolute;
	width: 362px;
	height: 690px;
	bottom: -5%;
	right: 0px;
	z-index: -100;

	background-repeat: no-repeat;
	background-position: 100% 100%;

	opacity: 0.35;
}

.heroImgLight {
	// max-width: 938px;
	width: 100vw;
	max-height: 778px;
	background-position: center center;
	background-size: cover;
	right: 50%;
	transform: translate(50%, 0);

	@media (width < 1264px) {
		top: -10%;
	}
	@media (width < 768px) {
		top: -15%;
	}
}
