.footerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  margin-top: 236px;
  padding-bottom: 32px;

  color: #a1a1aa;
  font-size: 18px;

  a {
    font-size: 18px;
  }
}
.footerText {
	max-width: 918px;
	width: 90%;
	@media (width <= 768px) {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		white-space: nowrap;
		clip-path: inset(100%);
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
}
