.footerSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 42px;
	margin-top: 236px;
	padding-bottom: 32px;

	color: #a1a1aa;
	font-size: 18px;

	a {
		font-size: 18px;
	}
}
.footerText {
	width: 918px;
}
